:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: var(--Red);
  background-image: url("images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container {
  display: inherit;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 30px;
  /* border: 1px solid lawngreen; */
}

.introduction {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 55px 0;
  /* border: 2px dotted violet; */
}

.introduction h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

.registration {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* border: 2px dotted orange; */
}

.banner {
  display: inherit;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  padding: 0 50px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: var(--Blue);
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  /* border: 1px solid red; */
}

.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 40px;
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  /* border: 1px dotted orange; */
}

.input-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  /* border: 1px dotted fuchsia; */
}

input {
  flex: 2;
  font-weight: 600;
  padding: 1.5em 2em;
  min-width: initial;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  /* border: 1px solid chartreuse; */
}

.fa {
  display: none;
  align-self: flex-end;
  position: relative;
  height: 30px;
  width: 30px;
  margin: -2.7em 10px 0 0;
  /* border: 1px solid green; */
}

.fa-exclamation-circle {
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  display: none;
  color: var(--Red);
  text-align: end;
  padding-top: 5px;
  margin-bottom: -5px;
  font-size: 11px;
  font-style: italic;
  /* border: 1px solid green; */
}

.message-error {
  display: block;
}

.fa-error {
  display: initial;
}

.btn-submit {
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: var(--Green);
  box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
}

.terms {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  color: var(--Grayish-Blue);
}

.terms strong {
  color: var(--Red);
  cursor: pointer;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgba(185, 182, 211, 0.4);
  /* border: 1px solid blue; */
}

.attribution a {
  text-decoration: none;
  color: var(--Dark-Blue);
}

.attribution a:hover {
  color: #ffce36;
}

@media screen and (min-width: 1025px) {
  
  body {
    background-image: url("images/bg-intro-desktop.png");
  }

  .container {
    flex-direction: initial;
    padding: 60px;
  }

  .introduction {
    text-align: justify;
    padding: 55px;
  }

  .registration {
    padding: 40px;
  }

  .banner {
    padding: 5px 100px;
    margin-top: 5em;
  }

  .form {
    align-items: center;
  }

  input {
    min-width: 300px;
  }
}

@media screen and (min-width: 1150px) {
  input {
    min-width: 350px;
  }
}

@media screen and (min-width: 1250px) {
  input {
    min-width: 400px;
  }
}
