:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  /* background-color: var(--Red); */
  background-color: var(--Dark-Blue);
  /* background-image: url("images/bg-intro-desktop.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container {
  display: inherit;
  flex: 1 0 auto;
  padding: 60px;
  border: 1px solid lawngreen;
}

.introduction {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
  padding: 55px;
  border: 2px dotted violet;
}

.introduction h1,
.introduction p {
  border: 1px solid cyan;
}

.registration {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border: 1px solid orange;
}

.banner {
  display: inherit;
  align-items: center;
  border-radius: 15px;
  padding: 5px 100px;
  margin-top: 5em;
  margin-bottom: 20px;
  background-color: var(--Blue);
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  border: 1px solid red;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 40px;
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  border: 2px dotted fuchsia;
}

.input-form {
  margin-bottom: 20px;
}

input {
  font-weight: 600;
  padding: 1.5em 2em;
  min-width: 400px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  /* border: 3px solid chartreuse; */
}

.fa {
  display: none;
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 0.8em 0 0 -3.5em;
  /* border: 1px solid green; */
}

.fa-exclamation-circle {
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  display: none;
  color: var(--Red);
  text-align: end;
  margin-bottom: 0;
  /* padding: 5px 15px; */
  font-size: 11px;
  font-style: italic;
}

.message-error {
  display: block;
}

.fa-error {
  display: initial;
}

.btn-submit {
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: var(--Green);
  box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
}

.terms {
  font-size: 11px;
  margin-top: 20px;
  color: var(--Grayish-Blue);
}

.terms strong {
  color: var(--Red);
  cursor: pointer;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgba(185, 182, 211, 0.4);

  border: 1px solid blue;
}

.attribution a {
  text-decoration: none;
  color: var(--Dark-Blue);
}

.attribution a:hover {
  color: #ffce36;
}
